root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
ij_html_line_comment_at_first_column = false
ij_any_line_comment_add_space = true
ij_javascript_line_comment_at_first_column = false
ij_javascript_line_comment_add_space = true
ij_html_block_comment_at_first_column = false
