/* element UI theme color */
$el-color-primary: #ff4949;
$el-color-success: #13ce66;
$el-color-warning: #ffba00;
$el-color-danger: #ff4949;
$el-color-info: #1E1E1E;
$el-color-light: #dfe4ed;
$el-color-lighter: #e6ebf5;
$el-border:1px solid#dfe6ec;

/* custom */

/* sidebar 变量 */
$menu-text:#bfcbd9;
$menu-active-text:#409eff;
$sub-menu-active-text:#f4f4f5;//https://github.com/-eleme-f-e/element/issues/12951
$menu-bg:#304156;
$menu-hover:#263445;
$sidebar-title:#ffffff;
$sub-menu-bg:#1f2d3d;
$sub-menu-hover:#001528;
